<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../../public/css/index.css">
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">Course</a>
        <a href="#">International Certification</a>
        <a href="#">Course Registration</a>
        <a href="#">Cadd Cae Job's</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    <main class="main-container">
      <img src="../../public/images/background/main-background-img.png" alt="background-img">
      <button>MORE INFO</button>
    </main>
  </body>
</html>