<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../../public/css/index.css">
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">Course</a>
        <a href="#">International Certification</a>
        <a href="#">Course Registration</a>
        <a href="#">Cadd Cae Job's</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    <main class="main-container">
      <img src="../../public/images/background/main-background-img.png" alt="background-img">
      <button>MORE INFO</button>
      <marquee>* Cadd Cae Computers is an Authorized Tally &
        SAP Training Centre…! Special Offers Going on Now…!
        Accounts and Commercial Training Programs … Advanced Computer
        Programmings & Web Development Courses … Amazon AWS Training 
        and Certification … Ethical Hacking Certification Training …
        Digital Marketing Courses … Computer Hardware & Networking … 
        Multimedia Animation & Web Designing Courses … Short Term Diploma Courses … Complete Engineering Designing Solutions 
        – Civil / Architect / Mechanical / Automobile … Spoken English 
        … Computer on Office Automation (COA)… Type Writing … Shorthand 
        … Tailoring & Fashion Designing Courses
      </marquee>
    </main>
    
    <div class="main-content-container">
      <div class="main-heading">
        <h1>Govt. Recognised Multi Skilled Training & Placement <br> Center</h1>
        <p>An ISO 9001-2015 Certified Institution</p>
      </div>

      <div class="row row-1">
        <div class="col col-1">
          <img src="../../public/images/icons/row-1-col-1-icon.webp" alt="icon">
          <h3>Advanced Programming</h3>
          <p>AI, Machine Learning, Data Science, Java / Python, Full Stack / Web Development, AWS / Cloud Computing, Cyber security, Ethical Hacking, Big Data, Android Development, Software Testing, Digital Marketing, Advanced Excel, Power BI, Tableau.</p>
        </div>

        <div class="col col-2">
          <img src="../../public/images/icons/row-1-col-1-icon.webp" alt="icon">
          <h3>Advanced Programming</h3>
          <p>AI, Machine Learning, Data Science, Java / Python, Full Stack / Web Development, AWS / Cloud Computing, Cyber security, Ethical Hacking, Big Data, Android Development, Software Testing, Digital Marketing, Advanced Excel, Power BI, Tableau.</p>
        </div>
      </div>

    </div>
  </body>
</html>